{% extends 'myapp/base.html'%}

    {% block body%}
    <div class="m-10 flex">
        <div class="border-solid">
            <img class="w-128 rounded-lg" src="{{item_detail.item_image}}" alt="">
        </div>
        <div class="mx-16 space-y-5">
            <div class="font-bold text-4xl">
                {{item_detail.item_name}}
            </div>
            <div class="font-bold text-green-700 text-2xl">
                {{item_detail.item_price}}
            </div>
            <div>
                {{item_detail.item_desc}}
            </div>
            <div>
                <a class="bg-yellow-500 px-4 py-2 font-bold rounded-md text-white" href="{% url 'myapp:update_item' item_detail.id %}">Edit</a>
                <a class="bg-red-500 px-4 py-2 font-bold rounded-md text-white" href="{% url 'myapp:delete_item' item_detail.id %}">Delete</a>
            </div>
        </div>
    </div> 
    {% endblock %}
    